#snake-controller {
  font-size: 0px;
  text-align: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
  display: none;
  touch-action: none;
}
#snake-controller > div > div {
  margin: 4px;
  width: 64px;
  height: 64px;
  font-size: 20px;
  display: inline-block;
  -ms-flex-align: center;
  border: 1px solid gray;
  position: relative;
  text-align: center;
  user-select: none;
  background-color: var(--bs-primary-lightest);
}
#snake-controller > div > div:hover {
  background-color: white;
}
#snake-controller > div > div::before {
  content: "";
  height: 100%;
  position: relative;
  font-size: 0px;
  vertical-align: middle;
  display: inline-block;
}
#snake-controller > div > div span {
  display: inline-block;
  vertical-align: middle;
}
#game-content .game-table span {
  font-family: monospace;
  display: inline-block;
  width: 120px;
  font-size: 0.9em;
}
#game-content .game-table th {
  font-size: 0.8em;
}
#game-content textarea {
  font-size: 0.8em;
  border: none;
  overflow-y: hidden;
  resize: none;
  width: 400px;
  text-align: center;
  background-color: unset;
  color: var(--bs-dark);
}
#game-board {
  font-size: 0;
  transition: background-color 1s;
  background-color: #fff;
}
#game-board.milestone-150 {
  background-color: #ccf;
}
#game-board.milestone-500 {
  filter: invert();
}
#game-board.milestone-1000 {
  filter: invert();
  background-color: #0cc;
}
#game-board div {
  display: inline-block;
}
.board-block {
  background-color: #000;
}
.board-player {
  background-color: #88f;
}
.board-player2 {
  background-color: #77b;
}
.board-food {
  background-color: #7d7;
}
.board-crossbuff {
  background-color: #f00;
  border: 2px solid #9e9;
}
.board-playerhead {
  border: 2px solid #009;
}