html {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  cursor: default;
  user-select: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}

#screen-main {
  max-width: 400px;
  width: 50%;
  height: 100%;
  max-height: 800px;
  display: flex;
  flex-direction: column;
}

#main-div.unnamed-character #screen-main {
  display: none;
}

#second-screen {
  margin-left: 8px;
  max-width: 400px;
  width: 50%;
  height: 100%;
  max-height: 800px;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
}

#main-div.unnamed-character #second-screen {
  margin-left: 0px;
}

input {
  padding: 8px;
  margin: 8px 0px;
}

.sstab {
  display: none;
}
.sstab.active {
  display: flex;
  flex-direction: column;
  padding : 8px;
  flex: 1;
}
.sstab .topbar {
  border: none;
  border-bottom: 1px solid gray;
}
.sstab .topbar .h1 {
  font-size: 32px;
  font-weight: bold;
}
.sstab .content {
  flex: 1;
}

#menu-openbutton, #menu-closebutton {
  border: 1px solid black;
  padding: 6px;
  cursor: pointer;
  display: none;
}

.topbar {
  border: 4px solid black;
  padding: 8px;
  display: flex;
}

.btn {
  border: 1px solid black;
  padding: 6px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

#place-div {
  font-size: 32px;
  flex: 1;
  text-align: center;
}

#trash-picture-box {
  width: 100%;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.trash-picture {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#playing-area {
  padding: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

#overall-stats-div {
  display: flex;
  padding: 8px;
}
#stats-div { flex: 1 }
#equipments-div { flex: 1 }
#stats-div .title,
#equipments-div .title {
  font-size: 18px;
  font-weight: bold;
}

#stats-div .stat-div {
  margin-top: 4px;
}
#stats-div .stat-div .name {
  font-size: 12px;
}
#stats-div .stat-div .value {
  font-size: 18px;
  margin-top: -1px;
  padding-left: 12px;
}

#equipments-div .equipment-div {
  margin-top: 4px;
}
#equipments-div .equipment-div .name {
  font-size: 12px;
}
#equipments-div .equipment-div .value {
  font-size: 18px;
  margin-top: -1px;
  padding-left: 12px;
}

#stat-name {
  font-weight: bold;
}

.menu-items {
  width: 80px;
  height: 80px;
  display: inline-flex;
  border: 1px solid black;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  padding: 6px;
  margin: 2px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

#expandable-game-area {
  display: flex;
  width: 100%;
  flex: 1;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tooltip-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

#stamina-bar,
#cooldown-bar,
#enemy-hp-bar,
#something-bar {
  width: 90%;
  height: 6px;
  background-color: #eee;
  display: inline-block;
  text-align: left;
  border: 1px solid gray;
}
#stamina-bar-fill,
#cooldown-bar-fill,
#enemy-hp-bar-fill,
#xp-bar-fill {
  height: 100%;
  display: inline-block;
}
#enemy-hp-bar-fill { background-color: #e44; }
#stamina-bar-fill  { background-color: #ee5; }
#cooldown-bar-fill { background-color: #88e; }
#xp-bar-fill { background-color: #4e4; }

.compendium-item {
  text-align: center;
  margin: 16px 0px;
}
.compendium-picture {
  width: 80px;
  height: 80px;
  margin: 0px auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.compendium-title {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  #screen-main {
    width: 100%;
  }
  #second-screen {
    margin-left: 0px;
    width: 100%;
  }
  #menu-openbutton, #menu-closebutton {
    display: inline-block;
  }
  #main-div #screen-main {
    display: flex;
  }
  #main-div #second-screen {
    display: none;
  }
  #main-div.menu-shown #screen-main {
    display: none;
  }
  #main-div.menu-shown #second-screen {
    display: flex;
  }
}
